.bread {
  display: flex;
}
.cart {
  display: flex;
  justify-content: space-between;
}
.buy_in_cart {
  width: 352px;
  margin-top: 5px;
}
.product_in_cart {
  margin-top: 5px;
  border: solid 2 px, white;
  display: flex;
  justify-content: space-between;
}
.card_in_cart {
  align-items: center;
  display: flex;
  border: solid 2 px, white;
  margin: 5px;
  box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
  border-radius: 15px;
  padding: 30px;
}
.cart_img {
  width: 182px;
  height: 247px;
}
.total_price {
  box-shadow: 0px 4px 15px 1px rgba(255, 255, 255, 0.24);
  border-radius: 15px;
  padding: 10px;
=======
.cartpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-size: 14px;
  margin-top: 26px;
}
.show-575 {
  display: none;
}

h2 {
  margin-bottom: 36px;
  font-size: 36px;
  color: white;
  text-align: center;
  padding-bottom: 3px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
}
.ctable-item-row {
  display: flex;
  justify-content: space-between;
}
.ctable-l {
  flex: 1 1 auto;
}
.ctable-top,
.retuenbuy {
  color: rgba(255, 255, 255, 0.7);
}

.ctable-top {
  display: flex;
  color: rgba(255, 255, 255, 0.13);
  align-items: center;
  padding-bottom: 5px;
  position: relative;
}
.ctable-col-1 {
  margin-right: 9px;
  flex: 0 0 auto;
  width: 442px;
}
.ctable-col-2 {
  flex: 1 1 auto;
  text-align: right;
  white-space: nowrap;
}
.ctable-col-3 {
  width: 102px;
  flex: 0 0 auto;
  margin-left: 38px;
  text-align: right;
  padding-right: 47px;
}

.ctable-r {
  width: 352px;
  flex: 0 0 auto;
  margin-left: 36px;
}
.ctotal {
  padding: 25px;
  box-shadow: rgb(255 255 255 / 24%) 0px 4px 15px 1px;
  border-radius: 15px;
  margin-bottom: 21px;
}
.ctotal-tit {
  font-size: 14px;
  margin-bottom: 36px;
  border-width: 2px;
  border-bottom-style: solid;
  border-color: #ea8305;
  padding-bottom: 4px;
}

.ctotal-row {
  display: flex;
  align-items: flex-end;
  margin-bottom: 22px;
  color: rgba(255, 255, 255, 0.6);
}
.ctotal-col-1 {
  width: 50%;
  padding-right: 10px;
}
.ctotal-col-2 {
  width: 50%;
}
.ctable-top,
.retuenbuy {
  color: rgba(255, 255, 255, 0.7);
}

.retuenbuy {
  color: wheat;
  display: inline-flex;
  margin-top: 2px;
  align-items: center;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 1199px) {
  .ctable-r {
    width: 261px;
  }
}

@media only screen and (max-width: 1199px) {
  .ctable-col-1,
  .ctable-col-11 {
    width: 60%;
  }
}

.ctable-col-1 {
  margin-right: 9px;
  flex: 0 0 auto;
  width: 442px;
}
@media only screen and (max-width: 1199px) {
  .ctable-col-1,
  .ctable-col-11 {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .contain {
    max-width: 750px;
  }
}

@media only screen and (max-width: 1199px) {
  .contain {
    max-width: 970px;
  }
  .contain {
    max-width: 1060px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}

@media all and (max-width: 650px) {
  .selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .promo {
    display: flex;
    flex-wrap: wrap;
  }

}
