.products_content {
  margin: 10px;
  width: 220px;
  background: #3b3a40;
  border-radius: 0px 30px 0px 0px;
}
.products_img {
  width: 220px;
  height: 284.71px;
  object-fit: cover;
  border-radius: 0px 0px 67px 0px;
}
.products_item {
  display: flex;
}
.products_btn {
  border: solid 1px;
  background: #ea8305;
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
}
