.header__up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #242424;
  padding: 5px 0 5px 0;
}
.header__socials {
  display: flex;
  align-items: center;
  margin-left: 90px;
}
.header__socials > img {
  margin-left: 20px;
}
.header__tel > p {
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}
.header__tel > p > img {
  margin-right: 5px;
}

.header__mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__ftrs > img:first-child {
  margin-right: 37px;
}
.header__search {
  display: flex;
}
.header__search > input {
  background-color: inherit;
  border: none;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  margin-left: 10px;
}
.header__search > input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.header__nav {
  display: flex;
  justify-content: center;
}
.nav__content {
  display: flex;
}

.header-down__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-down__logo {
  width: 167px;
  height: 154px;
}
.nav__content > p {
  color: #ffffff;
  margin: 0 5px 0 5px;
}
