* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}
body {
  background: #131218;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

p {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}
h6 {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.path {
  display: flex;
  align-items: center;
}
.path > svg {
  margin: 0 5px;
}
.search > input {
  border: 0;
  background-color: inherit !important;
  border: none !important;
  font-size: 14px !important;
  line-height: 14px !important;
  color: #ffffff !important;
  margin-left: 10px !important;
}
.search__parent {
  display: flex;
}
.search {
  margin: 15px 0;
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 5px;
}
.search > img {
  margin: 0 10px;
}

.css-53tbrc-MuiSlider-root {
  color: #ea8305 !important;
}

@media all and (max-width: 865px) {
  .header__nav {
    display: none;
  }
  .menu__btn {
    display: flex;
  }
  .header__ftrs > img:first-child {
    margin-right: 15px;
  }
  body {
    padding: 0 10px 0 10px;
  }
}
