* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "ABeeZee", sans-serif;
}
body {
  background: #131218;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}

p {
  font-size: 14px;
  line-height: 17px;
  color: rgba(255, 255, 255, 0.6);
}
a {
  text-decoration: none;
}
h6 {
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
}
.path {
  display: flex;
  align-items: center;
}
.path > svg {
  margin: 0 5px;
}

@media all and (max-width: 865px) {
  .header__nav {
    display: none;
  }
  .menu__btn {
    display: flex;
  }
  .header__ftrs > img:first-child {
    margin-right: 15px;
  }
  body {
    padding: 0 10px 0 10px;
  }
}
